<footer id="footer">
<% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="primary">
    <div class="wrap">
     
   	<div class="footer-shards">
        <div class="light"></div>
        <div class="colored"></div>
        <div class="dark"></div>
      </div>
      
    </div>
  </div>
</footer>