#header
  height: banner-height
  position: relative
  border-bottom: 1px solid color-border
  &:before, &:after
    content: ""
    position: absolute
    left: 0
    right: 0
    height: 40px
  &:before
    top: 0
    background: linear-gradient(rgba(0, 0, 0, 0.2), transparent)
  &:after
    bottom: 0
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.2))

#header-outer
  height: 100%
  position: relative

#header-inner
  position: relative
  overflow: hidden

#banner
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: url(banner-url) center #000
  background-size: cover
  z-index: -1

#header-title
  text-align: center
  height: logo-size
  position: absolute
  top: 50%
  left: 0
  margin-top: logo-size * -0.5

$logo-text
  text-decoration: none
  color: #fff
  font-weight: 300
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3)

#logo
  @extend $logo-text
  font-size: logo-size
  line-height: logo-size
  letter-spacing: 2px

#subtitle
  @extend $logo-text
  font-size: subtitle-size
  line-height: subtitle-size
  letter-spacing: 1px

#subtitle-wrap
  margin-top: subtitle-size

#main-nav
  float: left
  margin-left: -15px

$nav-link
  float: left
  color: #fff
  opacity: 0.6
  text-decoration: none
  text-shadow: 0 1px rgba(0, 0, 0, 0.2)
  transition: opacity 0.2s
  display: block
  padding: 20px 15px
  &:hover
    opacity: 1

.nav-icon
  @extend $nav-link
  font-family: font-icon
  text-align: center
  font-size: font-size
  width: font-size
  height: font-size
  padding: 20px 15px
  position: relative
  cursor: pointer

.main-nav-link
  @extend $nav-link
  font-weight: 300
  letter-spacing: 1px
  @media mq-mobile
    display: none

#main-nav-toggle
  display: none
  &:before
    content: "\f0c9"
  @media mq-mobile
    display: block

#sub-nav
  float: right
  margin-right: -15px

#nav-rss-link
  &:before
    content: "\f09e"

#nav-search-btn, #m-nav-search-btn
  &:before
    content: "\f002"



#search-form-wrap
  position: absolute
  top: 25px
  width: 150px
  height: 30px
  right: 150px
  opacity: 0
  transition: 0.2s ease-out
  &.on
    opacity: 1
    right: 0
  @media mq-mobile
    width: 100%
    right: -100%

#m-search-form-wrap
  position: absolute;
  top: 9px;
  width: 150px;
  height: 30px;
  right: 150px;
  opacity: 0;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  &.on
    opacity: 1
    right: 10px

.search-form
  position: absolute
  top: 0
  left: 0
  right: 0
  background: #fff
  padding: 5px 15px
  border-radius: 15px
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
  height: 23px

.search-form-input
  border: none
  background: none
  color: color-default
  width: 100%
  font: 13px font-sans
  outline: none
  &::-webkit-search-results-decoration
  &::-webkit-search-cancel-button
    -webkit-appearance: none

.search-form-submit
  position: absolute
  top: 50%
  right: 10px
  margin-top: -7px
  font: 13px font-icon
  border: none
  background: none
  color: #bbb
  cursor: pointer
  &:hover, &:focus
    color: #777

#sub-nav-hexo
  width: 90px;
  height: 70px;
  position: absolute;
  top: 0;
  right: 70px;
  z-index: 16;
  cursor: pointer;
  padding-top:15px;

#m-sub-nav-hexo
  width: 90px;
  height: 70px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 16;
  cursor: pointer;

::selection
  background: #333;
  color: #fff;
  text-shadow: none;


header.section-header
  width: 100%;
  height: 110px;
  margin: 0 auto 15px auto;
  position: relative;
  z-index: 10;


@media only screen and (max-width: 980px) and (min-width: 150px)
  header.section-header
    display: none;

header.section-header div.top-fill
  width: 100%;
  height: 70px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;

header.section-header div.wrap
  width: 100%;
  max-width: 1240px;
  padding: 0 40px;
  margin: 0 auto;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

header.section-header div.top-fill div.fill
  width: 200%;
  height: 70px;
  background: rgba(34,44,55,0.9);
  position: absolute;
  z-index: 14;
  left: 100px;
  top: 0;


nav.top-nav
  width: 100%;
  height: 70px;

header.section-header div.shard:before
  content: '';
  width: 562px;
  height: 140px;
  display: block;
  position: absolute;
  right: 0;
  background: url(images/shard.png) 0 0 no-repeat;


header.section-header div.shard
  width: 100%;
  height: 70px;
  position: absolute;
  z-index: 15;
  right: 100%;
  top: 0;
  margin: 0 -161px 0 0;

header.section-header div.logo
  width: 86px;
  height: 32px;
  float: left;
  position: relative;
  z-index: 16;
  margin: 26px 0 0 0;
  background: url(images/logo.png)
  &::after
    color: white

header.section-header div.logo a
  width: 86px;
  height: 32px;
  display: block;

nav.top-nav ul 
  list-style-type: none;
  padding: 0 71px 0 125px;
  position: relative;
  z-index: 16;

nav.top-nav ul li.first
  margin: 0 1px 0 0;
  display: none;

nav.top-nav ul li 
  height: 70px;
  float: left;

nav.top-nav ul
  list-style-type: none;
  padding: 0 71px 0 125px;
  position: relative;
  z-index: 16;

nav.top-nav ul li a.active-trail
  position: relative;
  font-family: 'avalonbold','Nanum Gothic','Open Sans',sans-serif;
  line-height: 92px;
  color: #00cccc;

nav.top-nav ul li a.active-trail:after
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 17px;
  left: 0;
  background: #00cccc;


nav.top-nav ul li a
  height: 70px;
  line-height: 90px;
  float: left;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  font-size: 1em;
  font-family: 'avalon','Nanum Gothic','Open Sans',sans-serif;
  -webkit-transition: color .15s;
  -moz-transition: color .15s;
  -ms-transition: color .15s;
  -o-transition: color .15s;
  transition: color .15s;

nav.sub-nav
  width: 100%;
  overflow: hidden;

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, video, canvas
  display: block;


nav.sub-nav div.sub-fill
  width: 200%;
  height: 34px;
  background: rgba(0,204,204,0.9);
  position: absolute;
  z-index: 14;
  left: 100px;
  top: 0;

nav.sub-nav ul
  list-style-type: none;
  height: 34px;
  padding: 0 0 0 140px;
  position: relative;
  z-index: 16;

nav.sub-nav ul li
  float: left;
  font-family: 'avalon','Nanum Gothic','Open Sans',sans-serif;
  letter-spacing: 0.4px;

nav.sub-nav ul li a
  height: 34px;
  line-height: 34px;
  margin: 0 20px 0 0;
  display: block;
  float: left;
  color: #fff;
  text-decoration: none;
  font-size: 0.875em;

nav.sub-nav ul li
  float: left;
  font-family: 'avalon','Nanum Gothic','Open Sans',sans-serif;
  letter-spacing: 0.4px;


header.m-header, nav.mobile-menu, div.m-shard
  display: none;

.clear
  display: block;
  clear: both;

.clear:after
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;

@media only screen and (max-width: 980px) and (min-width: 150px)
  header.m-header
    width: 100%;
    height: 50px;
    display: block;
    position: absolute;
    top: 0;
    z-index: 12;
    background-color: rgba(34,44,55,0.9);


  div.m-logo
    width: 86px;
    height: 50px;
    float: left;
    background: url(images/logo.png) 0 9px no-repeat;
    margin: 0 0 0 9px;
  
  div.m-logo a
    width: 86px;
    height: 50px;
    display: block;
