#sidebar
  @media mq-normal
    column(sidebar-column)

.widget-wrap
  margin: block-margin 0

.widget-title
  @extend $block-caption

.widget
  color: color-sidebar-text
  text-shadow: 0 1px #fff
  background: color-widget-background
  padding: 15px
  a
    color: #ff0066
    text-decoration: underline;
    outline: none;
    cursor: pointer;
    &:hover
      text-decoration: underline
  ul, ol, dl
    ul, ol, dl
      margin-left: 15px
      list-style: disc